.jumbotron p{
  .wtsp-link{
    font-size: 15px;
    background-color: #339af0;
    border-radius: 10rem;
    color: aliceblue;
  }
  .web-link{
    background-color: #339af0;
    border-radius: 10rem;
    color: aliceblue;
  }
}


@media only screen and (max-width: 768px) {

  .jumbotron p {
    font-size: 15px;
    padding: 0px;
    .wtsp-link{
      font-size: 15px;
    }
  }

}


@media only screen and (max-width: 320px) {

  .jumbo-resultado{
    padding: 5px; 
    height: 130px;
  }
  .jumbotron p {
    font-size: 10px;
    .wtsp-link{
      font-size: 10px;
    }
    .web-link{
      font-size: 10px;
    }
  }
  .card-contact{
  }
}